@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
  font-family: 'Ubuntu', 'sans-serif' ;
    --main-color: rgba(0, 0, 0, 0.479);
    --accent-color: blue;
}

.heading {
  font-size: 84px;
  color: blue;
  line-height: 1.1;
  font-weight: 800;

}

.highlight {
  color: black;
}

  
  h4 {
    color: blue;
    padding: 5px;
  
  }

header .menu a {
  display: block;
  text-decoration: none;
  color: var(--main-color);
}

header .menu a:hover {
  font-weight: bold;
  color: rgba(255, 255, 0, 0.445);
}
@media (min-width: 600px){
header nav {
  display: flex;
}
}

header nav .menu {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}


header nav {
  background-color: whitesmoke;
}

.container {
  max-width: 980px;
  margin: auto;

}
.burger-icon {
  font-size: 3.5rem;
}

#burger-checkbox {
  display: none;
}

input:checked ~ .menu {
  display: block;  
} 
@media (min-width: 500px) {

  .burger-icon {
      display: none;}
} 

header .banner  {
    background-image: url(../img/battom.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header .banner h2 {
    font-weight: normal;
    color: white;
    font-size: 3.5rem;
  }

  header .banner p {
    font-weight: normal;
    color: white;
    font-size: 1,5rem;
  }

 .container {
    min-height: 200px;
 }

 .container h3 {
    font-weight: normal;
    color: black;
    font-size: 3.5rem;
    text-align: center;
  }
  
  .container p {
    font-weight: normal;
    color: var(--main-color);
    font-size: 1rem;
    text-align: center ;
  }

  /*controls*/

  .button {
    padding: 0.35em 1.2em;
    border: 0.1em solid yellow;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: color 0.7s;
    background-color: yellow;
  }

    .button:hover {
        color: blue;
        background-color: blue;
        cursor: pointer;
      }

      main .services article {
        border: 1px solid  var(--main-color);
        padding: 5px;
      }

      main .services article img {
        display: block;
        width: 100%;
      }

      main .services article .button {
        display: flex;
        justify-content: space-around;
        text-align: center;
      }

      @media (min-width: 600px) {
        main .services {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 5px;
        }
      }

      @media (min-width: 900px) {
        main .services {
          grid-template-columns: 1fr 1fr 1fr ;
        }
      }
      @media (min-width: 980px) {
        main .services {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }

       h5 {
        font-weight: normal;
        color: black;
        font-size: 3.5rem;
        text-align: center;
      }





      section .pricing article  {
        border: 1px solid  var(--main-color);
        padding: 5px;
        
      }


      @media (min-width: 600px) {
        section .pricing {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 5px;
        }
      }

      @media (min-width: 900px) {
        section .pricing {
          grid-template-columns: 1fr 1fr 1fr ;
        }
      }