@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;

}

:root {
  font-family: 'Ubuntu', 'sans-serif' ;
    --main-color: rgba(61, 55, 55, 0.836);
    --accent-color: blue;
}

.heading {
  font-size: 84px;
  color: blue;
  line-height: 1.1;
  font-weight: 900px;
}

.highlight {
  color: black;
}
  
  h4 {
    color: blue;
    padding: 10px;
    font-size: 25px;
    text-align: left;
  }

header .menu a {
  display: block;
  text-decoration: none;
  color: var(--main-color);
}

header .menu a:hover {
  font-weight: bold;
  color: yellow;
}

@media (min-width: 600px){
header nav {
  display: flex;
}
}

header nav .menu {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}


header nav {
  background-color: whitesmoke;
}

.container {
  max-width: 1200px;
  margin: auto;

}

.burger-icon {
  font-size: 4.5rem;
}

#burger-checkbox {
  display: none;
}

input:checked ~ .menu {
  display: block;  
} 

@media (min-width: 500px) {

  .burger-icon {
      display: none;}
} 

header .banner  {
    background-image: url(../img/battom.jpg);
    background-size: cover;
    background-position: center;
    min-height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header .banner h2 {
    font-weight: normal;
    color: white;
    padding: 40px;
    font-size: 75px;
    font-weight: bold;
  }

  header .banner p {
    font-weight: normal;
    color: white;
    font-size: 20px;
    padding: 40px;
  }

 .container {
    min-height: 350px;
 }

 .container h3 {
    font-weight: 25px;
    color: var(--main-color);
    font-size: 40px;
    text-align: center;
    line-height: 200px;
  }
  
  .container p {
    font-weight: 55px;
    color: var(--main-color);
    font-size: 18px;
    text-align: center;
    padding: 25px;
  }

  /*controls*/

  .button {
    
    padding: 0.80em 2.2em;
    border: 0.2em solid yellow;
    margin: 0 0.3em 0.3em 0;
    border-radius: 20px;
    color: var(--main-color);
    text-decoration: none;
    text-align: center;
    transition: color 0.7s;
    background-color: yellow;
  }

    .button:hover {
        color: blue;
        background-color: blue;
        cursor: pointer;
      }

      main .services article  {
        padding: 10px;
      }

      main .services article p {
        text-align: left;
      }

      main .services article img {
        display: block;
        width: 100%;
        border-radius: 10px;
      }
      

      main .services article .button  {
        display: grid;
        justify-content: left;
      }

      @media (min-width: 600px) {
        main .services {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 5px;
        }
      }

      @media (min-width: 900px) {
        main .services {
          grid-template-columns: 1fr 1fr 1fr ;
        }
      }
      @media (min-width: 980px) {
        main .services {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }

       h5 {
        font-weight: normal;
        color: black;
        font-size: 50px;
        text-align: center;
        font-weight: bold;
        padding: 70px;
      }

section .pricing {
  background-color: gainsboro;
  border-radius: 15px;
}
   
section  .price {
        padding: 70px;
        background-color: white;
        text-align: center;
        line-height: 25px;
        border-color: yellow white white white;
      }


      @media (min-width: 600px) {
        section .pricing {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 25px;
        }
      }

      @media (min-width: 900px) {
        section .pricing {
          grid-template-columns: 1fr 1fr 1fr ;
        }
      }


      /* Section: 'FAQ' */

.faq-section {
  background: white;
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 50px ;
}

.faq-h2{
  color: black;
  font-size: 70px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 20px;

}

.accordion-text {
  color: var(--main-color);
  font-weight: lighter;
  line-height: 1.56;
}

.accordion {
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 19px;
  transition: 0.5s;
}

.panel {
  padding: 0 35px;
  background-color: white;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: --main-color;
  float: right;
  margin-left: 15px;
}

.active:after {
  content: "\2796";
}

/*Contact  */
.contacts-h2 {
  color: white;
  font-size: 50px;
}

.contacts-subtitle {
  color: white;
  font-size: 15px;
  font-weight:bold;
}

.contacts-p {
  color: white;
  font-size: 20px;
  font-weight:lighter;
  text-align: center
}

.contacts-h3 {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.contacts-info {
  padding: 100px;
}

.contacts-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  background-image: url(../img/contact.jpeg);
  }

  .contacts-us .contacts-info a:hover {
    font-weight: bold;
    color: yellow;
  }

.contacts-input-text {
  color: --main-color;
  font-size: 20px;
  font-weight:lighter;
}

.contacts-form {
  text-align: center;
  padding: 5px;
  background-color: white;
  padding: 50px;
  width: 70%;
  border-radius: 20px;
}

input[type="text"], input[type="tel"], input[type="email"] {
  height: 50px;
  font-size: 19px;
  margin-bottom: 25px;
  padding-left:25px;
  border-radius: 3px;
  background-color:#d1cecb;
  border: 1px solid white;
  width: 70%;
  text-align: left;
  border-radius: 30px;
}

.quote-message{
  height: 150px;
  border-radius: 30px;
  background-color:#d1cecb;
  border: 1px solid white;
  font-size: 20px;
  width: 70%;
  text-align: left;
  color: var(--main-color);
  font-weight:lighter;
  padding-left:25px;
}

.quote-submit {
  padding: 13px 30px;
  margin: 5px 0 20px 0;
  font-size: 19px;
  color: white;
  background-color: yellow;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  width: 70%;
}

.quote-submit:hover {
  background-color: blue;
  color: white;
}

.pronto {
  font-size: 40px;
  color: blue;
  line-height: 3.1;
  font-weight: 1200;
}

.wash {
  color: black;
}

footer .menu a {
  display: block;
  text-decoration: none;
  color: var(--main-color);
}

footer .menu:hover {
  font-weight: bold;
  color: yellow;
}

@media (min-width: 600px){
  footer nav {
  display: flex;
}
}

footer nav .menu {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}


footer nav {
  background-color: whitesmoke;
}

